.products{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 280px;
    /* height: 365px; */
    margin-left: 17px;
    /* overflow: scroll; */
}

.items{
    display: flex;
    flex-direction: column;
    width: 105px;
    height: 150px;
    margin-bottom: 90px;
    margin-left: 18px;
    text-align: center;
}
.boxItem{
    width: 130px;
    height: 150px;
    left: 48px;
    top: 136px;
    padding-bottom: 15px;
    background: #F7F0F0;
    border-radius: 3px;		
}

.itemImg{
    height: 80%;
    padding: 5px;
    /* padding-top: 15px; */
    margin-top: 10px;
}

.product{
    margin-top: 5px;
    text-align: center;
    margin-bottom: -10px;
    font-size: 11px;
    /* padding-left: 5px; */
    margin-left: 17px;
}
.price{
    text-align: center;
    font-size: 12px;
    margin-left: 20px;
}
.stars{
    width: 80%;
    margin-left:22px ;
}

.ofert{	
	top: -143px;
	left: 43px;
	margin-left: 20px;
	position: relative;
}