.cartProduct {
  text-align: center;
  margin-left: 40px;
  margin-top: 30px;
}

p {
  margin-top: 102px;
  margin-left: 40px;
}

/* .btnFinalizar {
  background-color: #55a4d1;
  border-radius: 10px;
  width: 280px;
  height: 30px;
  border: none;
  margin-left: 40px;
  color: white;
  margin-bottom: 28px;
} */
